:{$PORT} {
	handle {$WSPATH}* {
		@websocket {
			header Connection *Upgrade*
			header Upgrade websocket
		}
		handle @websocket {
			reverse_proxy @websocket {
				to localhost:61080
				trusted_proxies private_ranges
			}
		}
		respond * 401
	}
}